*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 100%;
  background: #87509C;
  padding: 10px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: block;
  max-width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
  transition: 0.8s;
}

nav ul li:hover {
  padding: 1%;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.header-content {
  padding: 100px 0 63px;
  text-align: center;
}

.header-content h2 {
  color: #fff;
  line-height: 33px;
  font-size: 27px;
}

.btn {
  margin-top: 30px;
  background: #EB7D4B;
  padding: 15px 20px;
  font-size: 15px;
  border: none;
  transition: 0.4s ease-in-out;
}

.btn:hover {
  box-shadow: 0px 3px 0px #a25532;
  color: white;
}

.service,
.team,
.skill,
.portfolio {
  width: 100%;
  float: left;
  padding: 50px 0;
}

.service-tittle,
.team-tittle,
.skill-tittle,
.portfolio-tittle {
  width: 550px;
  margin: 0 auto 30px;
  text-align: center;
}

.underline {
  border-bottom: 2px solid #161616;
  display: block;
  width: 66px;
  margin: 13px auto;
}

.service-grid,
.team-grid,
.skill-grid,
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.service-one,
.team-one,
.skill-one,
.portfolio-one {
  text-align: center;
  color: white;
  padding: 20px;
}

.service-one img,
.team-one img,
.skill-one img,
.portfolio-one img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.service-one h3,
.team-one h3,
.skill-one h3,
.portfolio-one h3 {
  margin-top: 10px;
}

.service {
  background: #17C2A4;
}

.team {
  background: #A9A9A9;
}

.team-one h5 {
  color: purple;
}

.social-icon ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-icon ul li a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.skill {
  background-color: white;
}

.portfolio {
  background: #FFE29B;
}

.portfolio-btn {
  margin: 30px auto 0;
  background-color: #00A1A2;
  padding: 15px 20px;
  font-size: 15px;
  border: none;
  display: block;
  transition: 0.4s ease-in-out;
}

.portfolio-btn:hover {
  box-shadow: 0px 3px 0px #a25532;
  color: white;
}
